
/* MOBILE-SMALL */
@media (min-width: 350px) {
    .main-cointainer {
        max-width: 320px;
    }
    
    .note-list {
        column-count: 1;
    }
    }
    
    /* X-SMALL */
    @media (min-width: 440px) {
    .main-cointainer {
        max-width: 380px;
    }
    /* .sprite {
        height: 38px;
        width: 38px;
      } */
    .note-list {
        column-count: 1;
        font-size: .9em;
    }
    }
    
    /* SMALL */
    @media (min-width: 680px) {
    .main-cointainer {
        max-width: 600px;
    }
    /* .sprite {
        height: 44px;
        width: 44px;
      } */
    .note-list {
        column-count: 2;
        font-size: 1.1em;
    }
    
    }
    
    /* MEDIUM */
    @media (min-width: 840px) {
    .main-cointainer {
        max-width: 800px;
    }
    /* .sprite {
        height: 54px;
        width: 54px;
      } */
    .note-list {
        column-count: 2;
        font-size: 1.1em;

    }
    
    }
    
    /* LARGE */
    @media (min-width: 1100px) {
    .main-cointainer {
        max-width: 1060px;
    }
    /* .sprite {
        height: 64px;
        width: 64px;
      } */

    .note-list {
        column-count: 3;
        font-size: 1.2em;

    }
    }
      
    /* X LARGE */
    @media (min-width: 1440px) {

    .main-cointainer {
        max-width: 1260px;
    }

    .note-list {
        column-count: 4;
        font-size: 1.2em;
    }
    }
      

    @media screen and (max-width: 420px) {
        .main-container{
          min-width: 350px !important;
          max-width: 380px;
        }
          .filter-bar-container{
            min-width: 350px !important;
          }
          .note-type-filter{
            transform:translateX(165%) !important ;
          }
          .app-footer{
            display: none !important;
          }
          .books-mobile{
            display: none;
          }
          .title {
            background-position-y: 966px !important;
            transform: translateX(-20px);
          }
          .color-choose-modal {
            /* transform: translate(-36%, 49%); */
            transform: translate(-40%, 49%);
            min-width: 350px;
            width: 351px;
            z-index: 100;
            position:absolute;
            padding: 0.4em;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
        }
        }
      
      